.pageContent {
  display: flex;
  margin-top: .2rem;
  justify-content: center;
  color: #333;

  .pageText{
    font-size: .3rem;
    line-height: .52rem;
    color: #666;
    margin-left: .12rem;
  }

  .pageButton {
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #333;
    background-color: #FFF;
    border: 1px solid #DDD;
    display: inline-block;
    margin-left: 6px;

    &.active {
      background-color: #EAEAEA;
      cursor: default;
    }
  }
}