.bannerContent {
  height: 1.92rem;
  overflow: hidden;
  position: relative;

  .bannerItem {
    width: 100%;
    height: 1.92rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s linear;

    &.active {
      opacity: 1;
    }

    .bannerImage {
      height: 1.92rem;
      width: 100%;
    }
  }

  .bannerDot {
    position: absolute;
    bottom: .2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .dotIcon {
      width: .16rem;
      height: .16rem;
      border-radius: 8px;
      background-color: #FFF;
      opacity: .7;
      display: block;
      margin-left: .1rem;
      cursor: pointer;

      &.active {
        opacity: 1;
      }


      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}