.pageContent {

  .searchContent {
    background-color: #FFF;
    padding: .3rem;
    font-size: .28rem;
    color: #666;
    border-bottom: .02rem solid #f0f0f0;
  }

  .listContent {
    background-color: #FFF;

    .topicContent {
      display: flex;
      padding: .3rem .4rem;
      border-bottom: 0.02rem solid #F0F0F0;
      color: #999;

      &:hover {
        background-color: #f8f8f8;
      }

      .imageContent {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .3rem;
        cursor: pointer;
        overflow: hidden;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .infoRow {
        height: .52rem;
        line-height: .52rem;
        display: flex;
        font-size: .24rem;
      }

      .topicTitle {
        color: #333;
        font-size: .32rem;
        height: .52rem;
        line-height: .52rem;
        cursor: pointer;
      }

      .infoRate {
        font-size: .28rem;
        color: #00afc7;
        margin-right: .2rem;
        display: block;
      }

      .infoComment,
      .infoAddress {
        font-size: .24rem;
        color: #999;
        cursor: pointer;
      }
    }
  }
}