.mainContent {
  width: 100%;
  overflow: hidden;

  .rowCard {
    margin-top: .2rem;

    .hotCard {
      padding: .32rem 0;
      margin-right: .2rem;
      background-color: #FFF;
      width: 100%;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      .titleContent {
        margin: 0 0 .2rem;
        display: flex;
        padding: 0 .32rem;
        line-height: .6rem;
        font-size: .4rem;
        font-weight: 400;
        justify-content: space-between;

        .leftContent {
          height: .6rem;
          display: flex;

          .title {
            line-height: .6rem;
          }
        }

        .cardIcon {
          margin-right: .1rem;
        }

        .rightContent {
          cursor: pointer;
          height: .6rem;
          line-height: .6rem;
          display: flex;

          &:hover {
            .moreLink {
              color: #00afc7
            }

            .moreIcon {
              color: #00afc7
            }
          }

          .moreLink {
            font-size: .28rem;
            color: #999;
            text-decoration: none;
            margin-right: .08rem;
            line-height: .6rem;
            ;
            transition: color .3s linear;
          }

          .moreIcon {
            color: #999;
            font-size: .28rem;
            transition: color .3s linear;
            height: .32rem;
            margin-top: .14rem;
          }
        }
      }

      .cardContent {
        display: flex;
        flex-wrap: wrap;
        padding: 0 .12rem;
        justify-content: space-around;

        .topicContent {
          width: 3.32rem;
          overflow: hidden;
          margin-bottom: .2rem;

          &:hover {
            cursor: pointer;
          }

          .topicImage {
            width: 3.32rem;
            height: 1.92rem;
            transition: transform .3s linear;

            &:hover {
              transform: scale(120%, 120%);
            }
          }

          .topicInfoContent {
            margin-top: .2rem;

            .title {
              font-size: .3rem;
              color: #333;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              line-height: .4rem;
              height: .4rem;
            }

            .infoRow {
              margin-top: .12rem;
              height: .28rem;
              line-height: .28rem;

              .infoRate {
                font-size: .28rem;
                float: left;
                color: #00afc7;
              }

              .infoComment {
                font-size: .22rem;
                color: #999;
                float: right;
              }

              .address {
                font-size: .22rem;
                color: #999;
                float: right;
              }
            }
          }
        }
      }
    }
  }

  .recommendCard {
    width: 100%;
    background-color: #FFF;
    margin-top: .3rem;
    overflow: hidden;

    .titleContent {
      margin: .3rem 0 .2rem;
      padding: 0 .4rem;
      display: flex;
      line-height: .6rem;
      font-size: .4rem;
      font-weight: 400;
      justify-content: space-between;

      .cardIcon {
        margin-right: .2rem;
      }

      .rightContent {
        cursor: pointer;

        &:hover {
          .moreLink {
            color: #00afc7
          }

          .moreIcon {
            color: #00afc7
          }
        }

        .moreLink {
          font-size: .28rem;
          color: #999;
          text-decoration: none;
          margin-right: .08rem;
          transition: color .3s linear;
        }

        .moreIcon {
          color: #999;
          font-size: .28rem;
          transition: color .3s linear;
        }
      }
    }

    .topicContent {
      padding: 0 .12rem .2rem;

      .mainCard {
        margin: 0 .16rem .2rem;
        height: 4rem;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        .mainImage {
          height: 4rem;
          width: 100%;
        }

        &:hover {
          .mainCardInfo {
            position: absolute;
            top: 2rem;
          }
        }

        .mainCardInfo {
          position: absolute;
          top: 3.3rem;
          background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
          width: 100%;
          padding: .2rem;
          color: #FFF;
          transition: top .2s linear;

          .mainCardTitle {
            font-size: .32rem;
            height: .4rem;
            line-height: .4rem;
            color: #FFF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: .12rem;
          }

          .mainInfoRow {
            margin-bottom: .12rem;
            line-height: .4rem;
            height: .4rem;

            .mainInfoRate {
              font-size: .28rem;
              float: left;
              color: #00afc7;
            }

            .mainInfoComment {
              font-size: .22rem;
              float: right;
            }

            .mainAddress {
              height: .28rem;
              font-size: .22rem;
              line-height: .28rem;
            }
          }
        }
      }

      .otherTopicContent {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .otherCard {
          width: 3.32rem;
          height: 2rem;
          overflow: hidden;
          margin-bottom: .2rem;
          cursor: pointer;
          position: relative;

          .otherCardImage {
            width: 3.32rem;
            height: 2rem;
          }

          &:hover {
            .otherCardInfo {
              position: absolute;
              top: .5rem;
            }
          }

          .otherCardInfo {
            position: absolute;
            top: 1.38rem;
            background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
            width: 100%;
            padding: .2rem;
            color: #FFF;
            transition: top .2s linear;

            .otherCardTitle {
              font-size: .28rem;
              height: .4rem;
              line-height: .4rem;
              color: #FFF;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-bottom: .12rem;
            }

            .otherInfoRow {
              margin-bottom: .12rem;
              line-height: .3rem;
              height: .3rem;

              .otherInfoRate {
                font-size: .28rem;
                color: #00afc7;
                float: left;
              }

              .otherInfoComment {
                font-size: .22rem;
                float: right;
              }

              .otherAddress {
                height: .28rem;
                font-size: .22rem;
                line-height: .28rem;
                float: left;
              }
            }
          }
        }
      }
    }
  }
}