.pageContent {

  .commentContent {
    margin-top: .3rem;
    background-color: #FFF;

    .titleContent {
      font-size: .32rem;
      color: #333;
      font-weight: 700;
      margin-bottom: .3rem;
      border-bottom: .02rem solid #ddd;
      padding: .3rem;
    }

    .commentCount {
      color: #999;
    }

    .commentList {

      .moreRow {
        text-align: right;
        height: .8rem;
        line-height: .8rem;
        display: flex;
        justify-content: right;

        .moreButton {
          display: block;
          cursor: pointer;
          font-size: .28rem;
          line-height: .8rem;
          color: #999;
          margin-right: .3rem;
        }
      }
    }
  }
}